.features-section {
    background-color: #e2eed9;
}

.features-section h3 {
    max-width: 240px;
}

@media screen and (width < 992px) {
    .features-section h3 {
        max-width: unset;
        min-height: 1.5em;
    }

    .features-section p {
        padding-bottom: 2em;
    }
}